input{
    width:130px;
}

div .index{
    float:none;
        border-left: none;
        width:96%;
}

form div{
    clear:none;
    margin-bottom: 0px;
}

form .submit input[type="submit"] {
    padding: 3px 9px;
}

input, textarea{
    font-size: 120%;
}
input[type="text"]{
    cursor: pointer;

}

label{

    font-size: 130%;
}

fieldset legend{
    color:#000000;
}

form .submit input[type="submit"] {
    color: #ffffff;
    text-shadow: 1px 0 1px black;
}

form div.submit{
    margin-left: 20px;
}

body{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
   /* background: -moz-linear-gradient(center top, ThreeDLightShadow 30%,#ffffff 85%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, ThreeDLightShadow),color-stop(0.85, #ffffff));
    */
    background-color: #999999;
}



#content{
    width: 96%;
    margin-left: 15px;
    border-radius: 10px 10px 10px 10px;
    border-color: #000000;
    border-width: 5px;
    box-shadow: 5px 5px 5px green;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 5px;
    margin-bottom: 50px;
}

.books{
    background-color: #ffffff;
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 5px;

}

form{
    margin-bottom: 30px;
    width:96%;

}

div .actions{
    margin-bottom: 100px;
    margin-top: 20px;
    padding:0px;
    padding-left: 10px;
    float:none;
    width:auto;
    
}

div .form{
    width:630px;
    padding:0px;
    margin-bottom: 50px;
}


h2{
    background: none;
    color: #000000;
}

table tr td{
    vertical-align: none;
    padding: 6px 2px;
}

.actions ul li a{
    width:90px;
}

.actions li{
     float:left;
   
}

label{
    margin-bottom: 20px;
}

dl dd:nth-child(4n+2), dl dt:nth-child(4n+1) {
    background: none;
}

dt, dd{
    line-height: 30px; 
}

div .submit{
    text-align: right;
}

#pager{
    position:relative;
    top: 10px;
}

#searchInTheTable{
    float: right;
    margin-bottom: 20px;
}

#selectSearchField{
    float:right;
    width: 368px;
}

#searchField{
    float:right;
    padding:0px;
}

.input{
    padding:0px;
}

table.tablesorter tbody td {
    padding: 0;
}

#pager form{
    width:300px;
}

#appName{
    
}

#header{
    padding: 0px 0px;
}

#appName{
        background-color: green;
    font-size: 27px;
    height: 100px;
    text-align: right;
        border-bottom-color: white;
    border-bottom-style: solid;
}

#textAppName{
       color: #FFFFFF;
    font-weight: 900;
    padding-right: 50px;
    padding-top: 41px;
    font-style: italic;
}

#amountDiv{
    float: right;
    width: 200px;
    margin-right: 30px;
}

#amountDiv h3{
    float :right;
    margin-right: 20px;
}

#imageDiv{
    float:right;
    margin-right: 82px;
    margin-bottom: 20px;
}





