/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #ffffff;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
        width:50%
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
background: url("") repeat-x scroll 50% 50% #EEEEEE;
    border: 1px solid #D8DCDF;
    border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
    color: #DF001A;
    font-weight: bold;
    outline: medium none;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
        
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
        
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
        background-color: #ffffff;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
        background-color: #ffffff;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

}
